<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="styles/styles.css">

    <!-- MapBox GL -->
    <!-- Maybe make a conditional to only load in certain pages -->
    <script src='https://api.mapbox.com/mapbox-gl-js/v2.2.0/mapbox-gl.js'></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v2.2.0/mapbox-gl.css' rel='stylesheet' />

    <title>Weather App</title>
</head>

<body>

    <script
        src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.7.0/mapbox-gl-geocoder.min.js"></script>
    <link rel="stylesheet"
        href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.7.0/mapbox-gl-geocoder.css"
        type="text/css">

    <!-- <h1>ejs!</h1> -->
    <div class="container">
        <header class="header">
            <div class="location" data-location>Location</div>
            <div class="search" id="geocoder"></div>
        </header>
    </div>

    <script>
        const mapToken = '<%- process.env.MAPBOX_TOKEN %>';
    </script>
    <script src="/javascripts/dataRequest.js"></script>

</body>

</html>