<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="styles/styles.css">

    <!-- MapBox GL -->
    <script
        src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.7.0/mapbox-gl-geocoder.min.js"></script>
    <link rel="stylesheet"
        href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.7.0/mapbox-gl-geocoder.css"
        type="text/css">
    <link href='https://api.mapbox.com/mapbox-gl-js/v2.2.0/mapbox-gl.css' rel='stylesheet' />

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap" rel="stylesheet">

    <link rel="shortcut icon" href="./images/favicon.ico" type="image/x-icon">

    <title>Weather App</title>
</head>

<body>

    <div class="container">

        <!-- Header -->
        <header class="header">
            <div class="location" data-location>Location</div>
            <div class="search" id="geocoder"></div>
        </header>

        <!-- Unit toggle -->
        <div class="unit-selection">
            <input type="radio" id="celsius" name="unit" checked>
            <label for="celsius">C</label>
            <span> | </span>
            <input type="radio" id="fahrenheit" name="unit">
            <label for="fahrenheit">F</label>
        </div>

        <!-- Current weather conditions -->
        <section class="current">
            <div class="main-content">
                <div class="general-information">
                    <div>
                        <span class="temperature" data-temperature>TBD</span>
                        <span data-temp-unit> ºC</span>
                    </div>
                    <img class="main-icon" src="" alt="">
                    <div class="status" data-description>Description</div>
                </div>
            </div>
            <div class="detail-section">
                <div class="detail">
                    <div class="title">Feels like</div>
                    <div>
                        <span class="value feels-like" data-temperature>TBD</span>
                        <span data-temp-unit> ºC</span>
                    </div>
                </div>
                <div class="detail">
                    <div class="title">Clouds</div>
                    <div class="value" data-clouds>TBD</div>
                </div>
                <div class="detail">
                    <div class="title">Humidity</div>
                    <div class="value" data-humidity>TBD</div>
                </div>
                <div class="detail">
                    <div class="title">Wind speed</div>
                    <div>
                        <span class="value" data-speed>TBD</span>
                        <span data-speed-unit> km/h</span>
                    </div>
                </div>
                <div class="detail">
                    <div class="title">Sunrise</div>
                    <div class="value" data-sunrise>TBD</div>
                </div>
                <div class="detail">
                    <div class="title">Sunset</div>
                    <div class="value" data-sunset>TBD</div>
                </div>
                <div class="detail">
                    <div class="title">Wind degrees</div>
                    <div class="degree-details">
                        <div class="value" data-direction>TBD</div>
                        <div class="wind-degree">
                            <div class="wind-direction"></div>
                        </div>
                    </div>

                </div>
            </div>
        </section>

        <!-- Conditions for the next week -->
        <section class="forecasts">
            <!-- Filled by script -->
        </section>

    </div>

    <script>
        const mapToken = '<%- process.env.MAPBOX_TOKEN %>';
    </script>
    <script src="/javascripts/dataRequest.js"></script>
    <script src="/javascripts/dataFill.js"></script>

</body>

</html>